---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <div class="container">
        <h2>Gia Huy (Agi) Luong</h2>
    </div>
    <div class="container">
        <p>Hi! I am a Software Engineer at Meta</p>
    </div>
    <div class="container">
        <p>You can find my work <u><a class="item" href="/work">here</a></u></p>
    </div>
    <div class="container">
        <p>Or you can see my resume <u><a class="item" href="https://drive.google.com/file/d/1GrpAP3agEOK-Kf99svkWn3vPdmgWaHxM/view"" target="_blank">here</a></u></p>
    </div>
    <div class="container">
        <p>Sometimes I write stuff on my <u><a class="item" href="/blog/">blog</a></u></p>
    </div>
    <div class="container">
        <p>Have a great day not a good day!</p>
    </div>
    <div class="container">
        <p>Agi</p>
    </div>
</body>
</html>


