body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: left;
    padding-left: 25%;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navelement {
    margin-right: 1%;
    margin-left: 1%;
}

.content {
    max-width: 50%;
    padding-left: 25%;
}

header {
    padding: 2rem;
    margin-right: 20%;
}

.item {
    color: rgb(0, 0, 0);
    text-decoration: none;
}