---
title: Dear Arwen
---
<!DOCTYPE html>
<html lang="en">
<title>
{% if page.title %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}
</title>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="content">
        <p> Dear Arwen,<br><br>

            I doubt you will ever find this. Maybe I'm hoping that you will because I'm writing 
            it on my public portfolio, where potential recruiters can see (hello!), but what do I
            know.<br><br>

            I met you during the last year of our high school time. We sat next to each other in 
            Jim Shea's Government & Civil Liberties. And we started to exchange gum. I remember how
            you would peal the wrapper to separate the silver and the paper parts, and then draw 
            on it and give it to me. I don't remember how it started, but I remember you 
            complimented that my hands looked nice. I play the piano so that meant a lot to me.
            <br><br>

            But this is not a letter of reminiscence.<br><br>

            I met you again recently.<br><br>

            You didn't seem to change much, but you definitely did. You were glowing when telling
            me stories about how you worked on a 
            farm, how you are working at a nursery, and how you want to be a speech therapist. 
            It is incredibly fun seeing someone I once knew so well grow into the person that you
            are now. I was mesmerized. I wonder if I looked differently to you. I think I do, but 
            you said I was still whimsical, so that's nice to hear.
            <br><br>

            I've changed a lot, too. And while I've learnt a lot, I've come to understand that
            some people leave a kind of permanent shape in you. You're one of those people. Not 
            in a way that interrupts my life or pulls at me, but in a way that adds weight to my
            story. You were part of the growing, part of the becoming. And I think there's a kind
            of love in that - a quieter one, more settled. The kind that doesn't need to be
            returned or even acknowledged. It just is.</i><br><br>

            I wish you nothing but the best. And wherever our stories land, just know that 
            somewhere out there, someone remembers you kindly, without wany weight, with no 
            unfinished business... just a little light in the distance, and that green-brown eye
            color of yours that I could never figure out.<br><br>
            
            I am grateful that you were a part of my life. I hope my presence meant 
            something to you too.<br><br>

            With love,<br><br>

            Agi (Oliver)
        </p>
    </div>
    <div style="padding-bottom: 2%"></div>
</body>
</html>


