<header>
    <div class="navbar">
        <div class="navelement"><a class="item" href="/">Home</a></div>
        <div class="navelement"><a class="item" href="{{ site.data.links.resume }}" target="_blank">Resume</a></div>
        <div class="navelement"><a class="item" href="/work/">Work</a></div>
        <div class="navelement"><a class="item" href="/projects/">Projects</a></div>
        <div class="navelement"><a class="item" href="/blog/">Blog</a></div>
        <div class="navelement"><a class="item" href="/contact/">Contact</a></div>
    </div>
</header>
