<header>
    <div class="navbar">
        <div class="navelement"><a class="item" href="/">Home</a></div>
        <div class="navelement"><a class="item" href="https://drive.google.com/file/d/1GrpAP3agEOK-Kf99svkWn3vPdmgWaHxM/view" target="_blank">Resume</a></div>
        <div class="navelement"><a class="item" href="/work/">Work</a></div>
        <div class="navelement"><a class="item" href="/blog/">Blog</a></div>
        <div class="navelement"><a class="item" href="/contact/">Contact</a></div>
    </div>
</header>