---
title: "Prologue: 32 Teeth"
---
<!DOCTYPE html>
<html lang="en">
<title>
{% if page.title %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}
</title>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="content">
        <p>Transcribed from <u><a class="item" href="https://youtu.be/rRl0Z-HYe2g?si=FGGWfjvjHMvJVBwj" target="_blank">this</a></u></p>
    </div>
    <hr style="width: 50%">

    <div class="content">
        <h3>Prologue: 32 Teeth</h3>

        <p> I have these nightmares where I lose my teeth.<br><br>

            I lose them or I grind them into dust or I bite too hard and the pressure does the work, 
            like a crowbar into a splintered door frame.<br><br>

            I remember losing my first molar as a kid, how it wiggled against the back of my tongue,
            how I couldn't eat out of fear, and out of pain.<br><br>

            When I got older my baby teeth wouldn't fall out so they had to start pulling them.
            The dentist was a family friend, Dr. Mueller. He laid me back into the chair and put 
            sunglasses over my eyes and told me that it was going to pinch. He pulled my cheek from
            my gums and it did pinch. The lidocaine injection. And I remember the sound of them being 
            ripped out of my skull, but from the inside.<br><br>

            Years later, orthodontics, the Herbst appliance, expanders, rubber bands.<br><br>

            The growing pains of a complete and perfect smile, except my teeth aren't perfect. 
            My enamel is weak and my incisors are crowded, and one day the last of my molars will 
            fall out again.<br><br>

            Disembodied teeth decorate the limbs of winged horrors in the deepest layers of New 
            Phyrexia. Across this reformed world, the body and all its parts are distorted, repurposed, 
            transformed. Muscles and bones are trophies of an outdated technology, nothing more than a 
            texture to define the season's new aesthetic.<br><br>

            700 years ago, the exiled Dante Alighieri composed the first of his three epic poems. 
            Inferno, the most notorious of these works, turns the wayward and morally corrupt inside out. 
            Across its nine layers, sinners of scaling severity were brutally tortured for eternity.
            Writing this poem was Dante's therapy, an exorcism of his schadenfreude.<br><br>

            The concentric rings of Inferno outlines the poet's journey through the afterlife ends 
            toward Paradiso.<br><br>

            Dante understood that to ascend, you must first descend.<br><br>

            That the only way out is through.<br><br>

            That the path to becoming perfect means going through hell.<br><br>


        </p>
    </div>
    
</body>
</html>


